# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.env/

# Docker
*.log
docker-compose.override.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Airflow
airflow.db
*.pid
logs/

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
.idea/
.vscode/